name: Hello World Workflow

on:
  workflow_dispatch:  # Allows manual triggering of the workflow from the GitHub UI

jobs:
  say_hello:
    runs-on: ubuntu-latest

    steps:
    - name: Echo Hello
      run: echo "Hello, World!"  # The command that will be executed
      
    - name: Trigger Second Workflow
      run: |
        curl -X POST \
        -H "Authorization: token ${{ secrets.PAT }}" \
        -H "Accept: application/vnd.github.everest-preview+json" \
        https://api.github.com/repos/test-dikshant/target-repo/dispatches \
        -d '{"event_type": "trigger-grafana"}'
